<link rel="stylesheet" href="/dist/resources/jgaruz/angcomposition/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/dist/resources/jgaruz/angcomposition/global.css" />
<div class="page">
  <h1 class="title">Products {{typeName}}</h1>
  <hr class="separador" />
  <div class="mensajes">
    <div *ngIf="Error.message" class="msg-error"><label class="myLabel myLabel-msg">{{Error.message}}</label></div>
    <div *ngIf="Warning.message" class="msg-warning"><label class="myLabel myLabel-msg">{{Warning.message}}</label></div>
    <div *ngIf="Info.message" class="msg-info"><label class="myLabel myLabel-msg">{{Info.message}}</label></div>
  </div>
  <div class="informacion">
    With the following form, you can include new products saving their information, this data will be encapsulated (this encapsulation is
    the objective of the test).
  </div>
  <div class="formulario">
    <div class="label"><label>Name:</label></div>
    <input type="text" name="name" [(ngModel)]="product.name" />
    <div class="label"><label>Description:</label></div>
    <input type="text" name="description" [(ngModel)]="product.description" />
    <div class="label"><label>Stock:</label></div>
    <input type="number" name="stock" [(ngModel)]="product.stock" />
    <div *ngFor="let item of prices">
      <div class="label"><label>Price/currency:</label></div>
      <input type="number" name="price" [(ngModel)]="item.price" />
      <select name="currency" [(ngModel)]="item.currency" class="btn-space">
        <option value="dolar">Dolar</option>
        <option value="euro">Euro</option>
        <option value="yen">Yen</option>
      </select>
    </div>
    <h3 class="title-h2">Products</h3>
    <table width="100%">
      <tbody>
        <tr>
          <th class="ancho-30">Name</th>
          <th class="ancho-40">Description</th>
          <th class="ancho-20">Stock</th>
          <th class="ancho-10"></th>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let item of products" class="divIterator">
          <td class="ancho-30">{{item.name}}</td>
          <td class="ancho-40">{{item.description}}</td>
          <td class="ancho-20">{{item.stock}}</td>
          <td class="ancho-10">
            <img
              src="/dist/resources/jgaruz/angcomposition/Bin-512.png"
              (click)="deleteProduct(item.id, product.typeId)"
              class="ancho-img"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="espacio">
      <button (click)="saveProduct(product, prices)" id="save-button" class="button-blueberry buttonBerry-text btn btn-large">
        Add product
      </button>
      <button (click)="volver()" id="return-button" class="button-blueberry buttonBerry-text btn btn-space">Return</button>
    </div>
  </div>
</div>
