<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="Warning.code">
    <strong>{{Warning.code}} - {{Warning.message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="Error.code">
    <strong>{{Error.code}} - {{Error.message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="Info.code">
    <strong>{{Info.code}} - {{Info.message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="container">
    <h2>showProducts</h2>
    <br />

    <div class="actions">
        <button type="button" class="btn btn-secondary btn-action" (click)="saveProduct(product, prices)">saveProduct</button>
        <button type="button" class="btn btn-secondary btn-action" (click)="deleteProduct(id, typeId)">deleteProduct</button>
        <button type="button" class="btn btn-secondary btn-action" (click)="volver()">volver</button>
        <button type="button" class="btn btn-secondary btn-action" (click)="getProducts(typeId)">getProducts</button>
    </div>
    <form>
        <div class="form-group row">
            <label for="prices" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of prices">
                    </tr>
                </tbody>
            </div> 
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="productname" name="productname" [(ngModel)]="product.name" 
                    maxlength="250"  minlength="0" />
                </div> 
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="productdescription" name="productdescription" [(ngModel)]="product.description" 
                    maxlength="250"  minlength="0" />
                </div> 
        </div>
        <div class="form-group row">
            <label for="stock" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="number" class="form-control" id="productstock" name="productstock" [(ngModel)]="product.stock" 
                    maxlength="250"  minlength="0" />
                </div> 
        </div>
        <div class="form-group row">
            <label for="typeId" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="number" class="form-control" id="producttypeId" name="producttypeId" [(ngModel)]="product.typeId" 
                    maxlength="250"  minlength="0" />
                </div> 
        </div>
        <div class="form-group row">
            <label for="id" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="number" class="form-control" id="id" name="id" [(ngModel)]="id" 
                    maxlength="250"  minlength="0" />
                </div> 
        </div>
        <div class="form-group row">
            <label for="products" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products">
                    </tr>
                </tbody>
            </div> 
        </div>
        <div class="form-group row">
            <label for="typeId" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="number" class="form-control" id="typeId" name="typeId" [(ngModel)]="typeId" 
                    maxlength="250"  minlength="0" />
                </div> 
        </div>
    </form>
</div>
