<link rel="stylesheet" href="/dist/resources/jgaruz/angcomposition/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/dist/resources/jgaruz/angcomposition/global.css" />
<div class="page">
  <h1 class="title">Test Transactional</h1>
  <hr class="separador" />
  <div class="mensajes">
    <div *ngIf="Error.message" class="msg-error"><label class="myLabel myLabel-msg">{{Error.message}}</label></div>
    <div *ngIf="Warning.message" class="msg-warning"><label class="myLabel myLabel-msg">{{Warning.message}}</label></div>
    <div *ngIf="Info.message" class="msg-info"><label class="myLabel myLabel-msg">{{Info.message}}</label></div>
  </div>
  <div class="informacion">
    The inserted user is deleted, a method variable is modified and a database error is forced. Everything is rollback and the results are
    displayed. Valid user "admin", are allowed to add new users.
    <br />
    What we tested in this example:
    <ul>
      <li>Transactional flow</li>
    </ul>
  </div>
  <div class="formulario">
    <div class="field">
      <div class="label"><label>User:</label></div>
      <input type="text" name="username" [(ngModel)]="username" />
    </div>
    <div class="espacio">
      <button (click)="showResults(username)" id="results-button" class="button-blueberry buttonBerry-text btn btn-medium">
        See results
      </button>
      <button (click)="volver()" id="return-button" class="button-blueberry buttonBerry-text btn btn-space">Return</button>
      <br />
      <button (click)="addUsuario()" id="add-button" class="button-blueberry buttonBerry-text btn btn-medium espacio-20">Add user</button>
    </div>
  </div>
</div>
