<link rel="stylesheet" href="/dist/resources/jgaruz/angcomposition/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/dist/resources/jgaruz/angcomposition/global.css" />
<div class="page">
  <h1 class="title">Test Loop Configs</h1>
  <hr class="separador" />
  <div>
    <br />
    What we tested in this example:
    <ul>
      <li>Loops configuration with init and assign data (while)</li>
      <li>Incremental and bottom config (do while)</li>
      <li>Top config with init condig (for)</li>
    </ul>
  </div>
  <div class="espacio">
    <button (click)="testSumatorio()" id="sumatorio-button" class="button-blueberry buttonBerry-text btn btn-large">Test Summation</button>
    <button (click)="testCountGeneros()" id="generos-button" class="button-blueberry buttonBerry-text btn btn-large">
      Test CountGeneros
    </button>
    <button (click)="volver()" id="return-button" class="button-blueberry buttonBerry-text btn btn-space espacio-left">Return</button>
  </div>
</div>
