<link rel="stylesheet" href="/dist/resources/jgaruz/angcomposition/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/dist/resources/jgaruz/angcomposition/global.css" />
<div class="page">
  <h1 class="title">Add users</h1>
  <hr class="separador" />
  <div class="mensajes">
    <div *ngIf="Error.message" class="msg-error"><label class="myLabel myLabel-msg">{{Error.message}}</label></div>
    <div *ngIf="Warning.message" class="msg-warning"><label class="myLabel myLabel-msg">{{Warning.message}}</label></div>
    <div *ngIf="Info.message" class="msg-info"><label class="myLabel myLabel-msg">{{Info.message}}</label></div>
  </div>
  <div class="formulario">
    <div class="label"><label>User:</label></div>
    <input type="text" name="username" [(ngModel)]="username" />
    <div class="label"><label>Name:</label></div>
    <input type="text" name="nombre" [(ngModel)]="nombre" />
    <div class="label"><label>Surnames:</label></div>
    <input type="text" name="apellidos" [(ngModel)]="apellidos" />
    <div class="label"><label>Age:</label></div>
    <input type="number" size="5" name="edad" [(ngModel)]="edad" />
    <h3 class="title">Users</h3>
    <table class="ancho-100">
      <tbody>
        <tr>
          <th class="ancho-20">Login</th>
          <th class="ancho-20">Name</th>
          <th class="ancho-30">Surnames</th>
          <th class="ancho-20">Age</th>
          <th class="ancho-10"></th>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let item of usuarios" class="divIterator">
          <td class="ancho-20">{{item.username}}</td>
          <td class="ancho-20">{{item.nombre}}</td>
          <td class="ancho-30">{{item.apellidos}}</td>
          <td class="ancho-20">{{item.edad}}</td>
          <td class="ancho-10">
            <img src="/dist/resources/cadqa/angcomposition/Bin-512.png" (click)="deleteUsuario(item.id)" class="ancho-img" />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="espacio">
      <button (click)="addUsuario(username, nombre, apellidos, edad)" class="button-blueberry buttonBerry-text btn">Add user</button>
      <button (click)="volver()" class="button-blueberry buttonBerry-text btn btn-space">Return</button>
    </div>
  </div>
</div>
