<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="Warning.code">
    <strong>{{Warning.code}} - {{Warning.message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="Error.code">
    <strong>{{Error.code}} - {{Error.message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="Info.code">
    <strong>{{Info.code}} - {{Info.message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="container">
    <h2>validateTypes</h2>
    <br />

    <div class="actions">
        <button type="button" class="btn btn-secondary btn-action" (click)="addingTypes(typeBoolean, typeDecimal, typeLong, typeList, typeLongText, typeInteger, typeObject, typeString, typePassword)">addingTypes</button>
        <button type="button" class="btn btn-secondary btn-action" (click)="deleteAll()">deleteAll</button>
        <button type="button" class="btn btn-secondary btn-action" (click)="volver()">volver</button>
    </div>
    <form>
        <div class="form-group row">
            <label for="typeDecimal" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="number" class="form-control" id="typeDecimal" name="typeDecimal" [(ngModel)]="typeDecimal" 
                    maxlength="250"  minlength="0" />
                </div> 
        </div>
        <div class="form-group row">
            <label for="typeLongText" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <textarea class="form-control" id="typeLongText" name="typeLongText" [(ngModel)]="typeLongText" maxlength="250" ></textarea>
            </div> 
        </div>
        <div class="form-group row">
            <label for="typeString" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="typeString" name="typeString" [(ngModel)]="typeString" 
                    maxlength="250"  minlength="0" />
                </div> 
        </div>
        <div class="form-group row">
            <label for="typeInteger" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="number" class="form-control" id="typeInteger" name="typeInteger" [(ngModel)]="typeInteger" 
                    maxlength="250"  minlength="0" />
                </div> 
        </div>
        <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="typeObjectnombre" name="typeObjectnombre" [(ngModel)]="typeObject.nombre" 
                    maxlength="250"  minlength="0" />
                </div> 
        </div>
        <div class="form-group row">
            <label for="edad" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="number" class="form-control" id="typeObjectedad" name="typeObjectedad" [(ngModel)]="typeObject.edad" 
                    maxlength="250"  minlength="0" />
                </div> 
        </div>
        <div class="form-group row">
            <label for="typeList" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of typeList">
                    </tr>
                </tbody>
            </div> 
        </div>
        <div class="form-group row">
            <label for="typeLong" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="number" class="form-control" id="typeLong" name="typeLong" [(ngModel)]="typeLong" 
                    maxlength="250"  minlength="0" />
                </div> 
        </div>
        <div class="form-group row">
            <label for="typeBoolean" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="checkbox" class="form-control" id="typeBoolean" name="typeBoolean" [(ngModel)]="typeBoolean" 
                    maxlength="250"  minlength="0" />
                </div> 
        </div>
        <div class="form-group row">
            <label for="typePassword" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="typePassword" name="typePassword" [(ngModel)]="typePassword" 
                    maxlength="250"  minlength="0" />
                </div> 
        </div>
    </form>
</div>
