<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="Warning.code">
    <strong>{{Warning.code}} - {{Warning.message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="Error.code">
    <strong>{{Error.code}} - {{Error.message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="Info.code">
    <strong>{{Info.code}} - {{Info.message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="container">
    <h2>Inicio</h2>
    <br />

    <div class="actions">
        <button type="button" class="btn btn-secondary btn-action" (click)="completeExample()">completeExample</button>
        <button type="button" class="btn btn-secondary btn-action" (click)="conditionalLoop()">conditionalLoop</button>
        <button type="button" class="btn btn-secondary btn-action" (click)="transactional()">transactional</button>
        <button type="button" class="btn btn-secondary btn-action" (click)="objects()">objects</button>
        <button type="button" class="btn btn-secondary btn-action" (click)="incrementalConfig()">incrementalConfig</button>
        <button type="button" class="btn btn-secondary btn-action" (click)="validateTypes()">validateTypes</button>
        <button type="button" class="btn btn-secondary btn-action" (click)="operatorBlocks()">operatorBlocks</button>
        <button type="button" class="btn btn-secondary btn-action" (click)="simpleList()">simpleList</button>
        <button type="button" class="btn btn-secondary btn-action" (click)="initialDump()">initialDump</button>
    </div>
    <form>
    </form>
</div>
