<link rel="stylesheet" href="/dist/resources/jgaruz/angcomposition/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/dist/resources/jgaruz/angcomposition/global.css" />
<div class="page">
  <h1 class="title">Recommended movies and series</h1>
  <hr class="separador" />
  <div class="mensajes">
    <div *ngIf="Error.message" class="msg-error"><label class="myLabel myLabel-msg">{{Error.message}}</label></div>
    <div *ngIf="Warning.message" class="msg-warning"><label class="myLabel myLabel-msg">{{Warning.message}}</label></div>
    <div *ngIf="Info.message" class="msg-info"><label class="myLabel myLabel-msg">{{Info.message}}</label></div>
  </div>
  <div class="informacion">
    Recommended films and series are obtained in this test according to the age of the user introduced. Valid users: mdemarco (under 5 years
    old), asainz (between 5 and 18 years old), idemarco (over 18 years old). Subsequently, the films of all audiences are obtained, joined
    and the results are shown. New users, movies and series can be added for your test.
    <br />
    What we tested in this example:
    <ul>
      <li>Method variables</li>
      <li>Conditionals</li>
      <li>Loops</li>
      <li>Return some data</li>
    </ul>
  </div>
  <div class="formulario">
    <div class="field">
      <div class="label"><label>User:</label></div>
      <input type="text" name="username" [(ngModel)]="username" />
    </div>
    <div class="espacio">
      <button (click)="showResults(username)" class="button-blueberry buttonBerry-text btn btn-medium">See results</button>
      <button (click)="volver()" class="button-blueberry buttonBerry-text btn btn-space">Return</button>
      <br />
      <button (click)="addUsuario()" class="button-blueberry buttonBerry-text btn espacio-10 btn-medium">Add user</button>
      <button (click)="addTitulo()" class="button-blueberry buttonBerry-text btn btn-space espacio-10">Add title</button>
    </div>
  </div>
</div>
