<link rel="stylesheet" href="/dist/resources/jgaruz/angcomposition/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/dist/resources/jgaruz/angcomposition/global.css" />
<div class="page">
  <h1 class="title">User actions</h1>
  <hr class="separador" />
  <div class="mensajes">
    <div *ngIf="Error.message" class="msg-error"><label class="myLabel myLabel-msg">{{Error.message}}</label></div>
    <div *ngIf="Warning.message" class="msg-warning"><label class="myLabel myLabel-msg">{{Warning.message}}</label></div>
    <div *ngIf="Info.message" class="msg-info"><label class="myLabel myLabel-msg">{{Info.message}}</label></div>
  </div>
  <br />
  <div class="informacion">
    All the elements accepted by a composition are checked: Custom SQL, crud SQL, rest services and external code. With the entered user,
    the password is obtained from the database and Smartshipment services are invoked to login and retrieve the user data. Valid user: admin
    <br />
    What we tested in this example:
    <ul>
      <li>Custom SQL: Insert, delete and select</li>
      <li>Crud SQL: Insert, delete, update, get and getAll</li>
      <li>Rest Service</li>
      <li>External code</li>
      <li>Call to other composition service</li>
    </ul>
  </div>
  <br />
  <div class="formulario">
    <div class="field">
      <div class="label"><label>User:</label></div>
      <input type="text" name="username" [(ngModel)]="username" />
    </div>
    <div class="espacio"></div>
    <div class="espacio"></div>
  </div>
  <div class="formulario">
    <div class="field"><div class="label"></div></div>
    <div class="espacio"></div>
    <button (click)="detail(username)" class="button-blueberry buttonBerry-text btn">Detail</button>
    <div class="espacio"><button (click)="volver()" class="button-blueberry buttonBerry-text btn">Return</button></div>
  </div>
</div>
